<h2 class='text-center pt-5'> Echange des mangas </h2>
<h4 class='text-center'> Ajoute les mangas que tu souhaites partager dans ta <b>Bibliothèque</b> <br> et ceux que tu recherches dans ta <b>Wishlist</b>. Reçois des alertes lors de matchs. </h4>
<%= render "shared/searchbar" %>

<%= render 'mangaCard2'%>
