<<<<<<< HEAD
<% if @manga.cover.attached?%>
<%= image_tag @manga.cover %>
<%else%>
  <p>=== Il n'y a pas encore d'image liée à ce manga ===</p>
<%end%>

<%= @manga.title %>
<%= @manga.description %>
<%= @manga.author %>
=======
<h1>Mangas#show</h1>
<p>Find me in app/views/mangas/show.html.erb</p>
>>>>>>> develop
