<div class="container-fluid mt-2">
	<div class="row m-2 card-all">
		<% @manga.each do |manga|%>
				
					<div class="card p-3 card-block ">
						<img src="<%= manga.image_url %>" alt="Photo of sunset" class="card-img-top">
						<h4 class="card-title mt-3 mb-3"><%= manga.title%></h4>
						<h5 class="card-title  mb-3">Auteur: <%= manga.author%></h5>
						<button href="#" class='btn-card'>Go to manga page</button>
					</div>
				
		<% end %>
	</div>
</div>