#navbar{
  background-color: rgb(255, 255, 255);
  margin: 0;
  -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

.brand {
  position: absolute;
  left: 50%;
  margin-left: -50px !important;  /* 50% of your logo width */
  display: block;
  color: #ff1016;
  font-size: 50px;
}

.brand:hover{
  text-decoration: none;
  color: #333333;
}

.fixed-top.scrolled {
  background-color: rgba(255, 255, 255, 0.719) !important;
  transition: background-color 200ms linear;
}
